#Chatroom {
  display: grid;
  height: 100vh;
  width: 100vw;
  text-align: center;
  grid-template-rows: 1fr 3fr 1fr;
}

#join-chat {
  grid-row: 1;
  height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
}

.chat-window {
  grid-row: 2;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px auto;
}


#message-window {
  margin: 10px auto 40px auto;
}

#submit-messages {
  grid-row: 3;
  height: 100%;
}


.message {
  overflow-wrap: break-word;
  margin: 5px 10px;
}